*,*:focus,*:hover{
	outline:none;
}
/* body */
body{
	margin:0px;
	padding: 0px;
	font-family: "Roboto";
}
/* SignUP */

.tab-panel{
	display: flex;
	justify-content: center;
	align-items: center;
}
.multi-select-form{
	width: 100%;
}
.stepper-content{
}	
#signup-multi{
	width: calc(80vw);
	height: calc(90vh);
	background-color: white;
}
.signup-store{
	height: 100%;
}
.container-modal{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}

.form-signup{
	background-color: white;
	border-radius: 4px;
	padding: 16px;
}

/* navbar */

.flex{
	display: flex;
}

.nav-bar{
	box-shadow: 0px -10px 20px 0px black;
}
.menu-link{
	padding-left: 3%;
}
.menu-link a{
	text-decoration: none;
}

.nav-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

.auth-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.menu{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
.nav-menu-link{
	color: black;
}
/* HeadLine */

#head-line{
	height: 90vh;
}

#head-line-info{
    
}


/* dashboard */

#dashboard{
	width: 100vw;
	height: 100vh;
}

.container-map{
	width: 100vw;
	height: 100vh;
}

/* users */

#who-user{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* send product */
#msg-product{
	background-color: white;
	padding: 20px;
	max-width: 1000px;
}

.distance-slider{
	width: 70%;
}

/* MAP */
#map{
	position: relative;
	width: 500px;
	height: 500px;
}

.btnPosition{
	position: absolute;
	right: 0%;
	margin: 10px;
	z-index: 100;
}

/* action */

.actions{
	display: flex;
	flex-direction: column;
}
.position-action{
	margin: 8px;
}
.send-product-action{

}

.open-time{
	text-align: center;
	margin: 0px;
}