.dashboard-container{
  height: calc(100vh);
}

.dashboard-topbar{
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.dashboard-mid{
  height: calc(100vh - 64px);
  overflow: hidden;
}
.dashboard-menu{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu-btn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-size: 14px;
}

.menu-btn:hover{
  background-color: rgb(182, 194, 219);
}
.dashboard-notifications{
  height: inherit;
  background : #F4F6F8;
  padding: 20px;
  overflow: auto;
} 