.modal-close-btn{
  position: absolute;
  z-index : 1000;
  top: 15px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-content-container{
  position : relative;
  display: flex;
  flex-direction: column;
  background-color : white;
  width: calc(80vw);
  height: calc(90vh);
}

.modal-btn{
	margin-left : 10px;
}

.btn-close {
  color : white;
}